@import "tailwindcss";
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.active {
  font-weight: bold;
  color: #2563eb; /* blue-600 */
  border-bottom: 2px solid #2563eb;
}